* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(315deg, rgba(35, 49, 78, 0.89), rgba(25, 33, 49, 0.9), rgba(35, 33, 49, 0.8));
    justify-content: center;
    display: absolute;
    z-index: -1;
}

.navbar {
    font-family: 'Fredoka One', cursive;
    background: linear-gradient(to bottom, rgb(18, 19, 22), transparent);
    height: 15%;;
    max-width: 100%;
    margin: auto;
}

.topnav {
    overflow: hidden;
    background-color:rgba(35, 49, 78, transparent);
    position: relative;
}

#img-icon {
    margin: 15px 15px;
}

#links {
    margin: 35px 15px;
}

#img-icon,
#links {
    display: inline-block;
}

#links a {
    text-decoration: none;
    color: rgb(138, 138, 139);
    padding: 3px 3px;
}

main {
    display: block;
    position: relative;
    padding-top: 5px;
    overflow: hidden;
}

.home-title-box {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0;
}

.home-title {
    background: -webkit-linear-gradient(217deg, rgb(127, 250, 127) 20%, rgb(2, 191, 248) 35%, rgb(135, 76, 243) 50%, rgba(236, 101, 101) 65%, rgb(230, 139, 79) 80%, rgb(236, 224, 113) 95%);
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 15px 15px;
}

.is {
    font-size: 25pt;
    color:rgb(117, 130, 161);
    font-weight: lighter;
    font-family: "Fredoka One";
}

.title {
    font-size: 30pt;
    color:rgb(151, 180, 233);
    margin-left: 10%;
}

.and {
    font-size: 32pt;
    font-family: "Rancho", cursive;
    color:royalblue;
}

img {
    margin: auto;
}